@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CreatEnJoy</h1>
    <p class="lead">Find all your interests in the same place and get creative!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Follow your favorite interests and create posts on these topics!
            Sharing is caring!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44386/Category">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be fabulous! </h2>
        <p>It's easy to be fabulous with easy to apply tips and tricks. Go check out the Make-up & Fashion section!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Surround yourself with art!</h2>
        <p>Want to make some changes around your house and don't know where to start?</p>
            <p> Easy! Go check out the Arts & Crafts or DIY section!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>